body {
  margin-top: 10px;
  margin-bottom: 20px;
}

#microphone { 
  cursor: pointer; 
  cursor: hand; 
  margin: 20px;
}

img {
  height: 100%;
  width: 324px;
}

td {
  padding-right: 10px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
