 <html>
  <head>
    <%= css :application %>
    <%= js :application %>
  </head>
  <body style="text-align: center;">
    <h1>Voice Stalk</h1>
    <h2>Stalk your friends without typing anything!</h3>
    <h3>To begin, tell <em>Voice Stalk</em> who you would like to stalk, e.g. "Stalk Cassie"</h3>
    <center><div id="microphone"></div></center>
    <pre id="result"></pre>
    <div id="info"></div>
    <div id="error"></div>

    <script>
      var mic = new Wit.Microphone(document.getElementById("microphone"));
      var info = function (msg) {
        document.getElementById("info").innerHTML = msg;
      };
      var error = function (msg) {
        document.getElementById("error").innerHTML = msg;
      };
      mic.onready = function () {
        info("Ready for your command");
      };
      mic.onaudiostart = function () {
        info("Recording started");
        error("");
      };
      mic.onaudioend = function () {
        info("Recording stopped, processing started");
      };
      mic.onresult = function (intent, entities) {
        console.log(intent);
        post('/', {intent: intent});

        document.getElementById("result").innerHTML = r;
      };
      mic.onerror = function (err) {
        error("Error: " + err);
      };
      mic.onconnecting = function () {
      };
      mic.ondisconnected = function () {
        info("Microphone is not connected");
      };

      mic.connect("OG52RN4ELSTEYLE556OLPXRP65JHKAQX");
      // mic.start();
      // mic.stop();

      function kv (k, v) {
        if (toString.call(v) !== "[object String]") {
          v = JSON.stringify(v);
        }
        return k + "=" + v + "\n";
      }
    </script>
  </body>
  </html>