 <html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <%= css :application %>
    <%= js :application %>

    <title>Stalker</title>
    <meta name="description" content="Flatiron Presents: Cassie and Kana">
    <meta name="author" content="Cassie Tarakajian - Kana Abe">
  </head>
  <body style="text-align: center;">
    <div class="container">
    <h1>Voice Stalk</h1>
    <h2>Stalk your friends without typing anything!</h3>
    <h3>To begin, tell <em>Voice Stalk</em> who you would like to stalk, e.g. "Stalk Cassie"</h3>
    <center><div id="microphone"></div></center>
    <div id="info">
    </div>

    <script>
      var DEBUG = false;
      var mic = new Wit.Microphone(document.getElementById("microphone"));
      var info = function (msg) {
        document.getElementById("info").innerHTML = msg;
      };
      var error = function (msg) {
        document.getElementById("error").innerHTML = msg;
      };
      mic.onready = function () {
        if (DEBUG) {
          info("Microphone is ready to record");
        }
      };
      mic.onaudiostart = function () {
        if (DEBUG) {
          info("Recording started");
        }
      };
      mic.onaudioend = function () {
        if (DEBUG) {
          info("Recording stopped, processing started");
        }
      };
      mic.onresult = function (intent, entities) {
        console.log(intent)
        post('/', {intent: intent});

        document.getElementById("result").innerHTML = r;
      };
      mic.onerror = function (err) {
        info("Error: " + err);
      };
      mic.onconnecting = function () {
        if (DEBUG) {
          info("Microphone is connecting");
        }
      };
      mic.ondisconnected = function () {
        if (DEBUG) {
          info("Microphone is not connected");
        }
      };

      mic.connect("OG52RN4ELSTEYLE556OLPXRP65JHKAQX");

    </script>
  </body>
  </html>